/*
== Jarvis.CSS  ========
component of Jarvis.js
Version : 1.2; 
Date : 07/17/13
Author : @LukyVj

Under M.I.T License : 
dev.web-gate.fr/MIT
=======================
*/

.stocked .jarvis:nth-child(even){
position:absolute;
left:-100%;
/*transition*/
-webkit-transition:all 1s ease;
   -moz-transition:all 1s ease;
     -o-transition:all 1s ease;
        transition:all 1s ease;
}
.stocked .jarvis{
opacity:0;
}
.stocked .jarvis:nth-child(odd){
margin-right:100%;
margin-top:-1000% !important;
right:-100% !important;
/*transition*/
-webkit-transition:all 0s ease;
   -moz-transition:all 0s ease;
     -o-transition:all 0s ease;
        transition:all 0s ease;
}
.stocked .jarvis:nth-child(even){
margin-left:1000% !important;
left:100% !important;
/*transition*/
-webkit-transition:all 0s ease;
   -moz-transition:all 0s ease;
     -o-transition:all 0s ease;
        transition:all 0s ease;
}
.stocked a.jarvis{
margin-bottom:1000% !important;
right:100% !important;
/*transition*/
-webkit-transition:all 0s ease;
   -moz-transition:all 0s ease;
     -o-transition:all 0s ease;
        transition:all 0s ease;
}
.stocked img.jarvis{
margin-left:1000% !important;
/*transition*/
-webkit-transition:all 0s ease;
   -moz-transition:all 0s ease;
     -o-transition:all 0s ease;
        transition:all 0s ease;
}
.stocked p.jarvis{
margin-top:1000% !important;
left:-100% !important;
/*transition*/
-webkit-transition:all 0s ease;
   -moz-transition:all 0s ease;
     -o-transition:all 0s ease;
        transition:all 0s ease;
}
.stocked .inner-jarvis{
display:block;
top:1000em !important;
color:transparent;
/*transition*/
-webkit-transition:all 1s ease 4s !important;
   -moz-transition:all 1s ease 4s !important;
     -o-transition:all 1s ease 4s !important;
        transition:all 1s ease 4s !important;
}
*[class*="jv-"]:nth-child(odd){
position:relative;
/*transition*/
-webkit-transition:all 1s ease, left 1.2s ease .4s;
   -moz-transition:all 1s ease, left 1.2s ease .4s;
     -o-transition:all 1s ease, left 1.2s ease .4s;
        transition:all 1s ease, left 1.2s ease .4s;
}
*[class*="jv-"]:nth-child(even){
position:relative;
/*transition*/
-webkit-transition:all 1s ease 1.2s;
   -moz-transition:all 1s ease 1.2s;
     -o-transition:all 1s ease 1.2s;
        transition:all 1s ease 1.2s;
}
*[class*="jv-"]:nth-child(2n+1){
position:relative;
/*transition*/
-webkit-transition:all 1s ease, left 1.2s ease .4s;
   -moz-transition:all 1s ease, left 1.2s ease .4s;
     -o-transition:all 1s ease, left 1.2s ease .4s;
        transition:all 1s ease, left 1.2s ease .4s;
}
*[class*="jv-"]:nth-child(3n+2){
position:relative;
/*transition*/
-webkit-transition:all 1.4s ease 1.2s;
   -moz-transition:all 1.4s ease 1.2s;
     -o-transition:all 1.4s ease 1.2s;
        transition:all 1.4s ease 1.2s;
}
p[class*="jv-"]:nth-child(2n+1){
/*transition*/
-webkit-transition:all 2s ease .5s !important;
   -moz-transition:all 2s ease .5s !important;
     -o-transition:all 2s ease .5s !important;
        transition:all 2s ease .5s !important;
}
img[class*="jv-"]:nth-child(2n+1){
/*transition*/
-webkit-transition:all 2s ease .2s !important;
   -moz-transition:all 2s ease .2s !important;
     -o-transition:all 2s ease .2s !important;
        transition:all 2s ease .2s !important;
}
a[class*="jv-"]:nth-child(2n+1){
/*transition*/
-webkit-transition:all 3s ease .4s !important;
   -moz-transition:all 3s ease .4s !important;
     -o-transition:all 3s ease .4s !important;
        transition:all 3s ease .4s !important;
}
img[class*="jv-"].jarvis-pict{
/*transition*/
-webkit-transition:all 5s ease 2s !important;
   -moz-transition:all 5s ease 2s !important;
     -o-transition:all 5s ease 2s !important;
        transition:all 5s ease 2s !important;
opacity:0 !important;
}
.jarvis p[class*="jv-"]:nth-child(2n+1){
/*transition*/
-webkit-transition:all 3s ease .2s !important;
   -moz-transition:all 3s ease .2s !important;
     -o-transition:all 3s ease .2s !important;
        transition:all 3s ease .2s !important;
}
.jarvis img[class*="jv-"]:nth-child(2n+1){
/*transition*/
-webkit-transition:all 2s ease 1s !important;
   -moz-transition:all 2s ease 1s !important;
     -o-transition:all 2s ease 1s !important;
        transition:all 2s ease 1s !important;
}

.inner-jarvis{
color:#000;
}
.jarvis img{
/*transition*/
-webkit-transition:all 2s cubic-bezier(0,1.57,1,.37) !important;
   -moz-transition:all 2s cubic-bezier(0,1.57,1,.37) !important;
     -o-transition:all 2s cubic-bezier(0,1.57,1,.37) !important;
        transition:all 2s cubic-bezier(0,1.57,1,.37) !important;
}
.jarvis p{
/*animation*/
-webkit-animation:init 4s cubic-bezier(0,1.57,1,.37) 1s !important;
   -moz-animation:init 4s cubic-bezier(0,1.57,1,.37) 1s !important;
    -ms-animation:init 4s cubic-bezier(0,1.57,1,.37) 1s !important;
     -o-animation:init 4s cubic-bezier(0,1.57,1,.37) 1s !important;
        animation:init 4s cubic-bezier(0,1.57,1,.37) 1s !important;
}
.jarvis a[class*="jv-"]{
	-webkit-transition:all .2s ease !important;   
	-moz-transition:all .2s ease !important;     
	-o-transition:all .2s ease !important;        
	transition:all .2s ease !important;}
	/*Loader*/
#st-screen{
position:absolute;
z-index:10;
width:100%;
height:100%;
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f8f8f8));
background:-webkit-linear-gradient(#fbfbfb,#f8f8f8);
background:   -moz-linear-gradient(#fbfbfb,#f8f8f8);
background:     -o-linear-gradient(#fbfbfb,#f8f8f8);
background:        linear-gradient(#fbfbfb,#f8f8f8);
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));
background:-webkit-linear-gradient(#fff,#eee);
background:   -moz-linear-gradient(#fff,#eee);
background:     -o-linear-gradient(#fff,#eee);
background:        linear-gradient(#fff,#eee);
margin:0;
}
#loader{
position:fixed;
z-index:99;
bottom:0;
left:0;
opacity:0;
margin:0;
width:100%;
height:5px;
/*linear-gradient*/
background:-webkit-gradient(linear,50% 0,50% 100%,from(#dd473d),to(#a83026));
background:-webkit-linear-gradient(-90deg,#dd473d,#a83026);
background:   -moz-linear-gradient(-90deg,#dd473d,#a83026);
background:     -o-linear-gradient(-90deg,#dd473d,#a83026);
background:        linear-gradient(-90deg,#dd473d,#a83026);
/*transition*/
-webkit-transition:height .6s ease;
   -moz-transition:height .6s ease;
     -o-transition:height .6s ease;
        transition:height .6s ease;
}
#loader.load{
/*animation*/
-webkit-animation:load 3s ease 1s;
   -moz-animation:load 3s ease 1s;
    -ms-animation:load 3s ease 1s;
     -o-animation:load 3s ease 1s;
        animation:load 3s ease 1s;
}
@keyframes load{
0%{width:0%;opacity:1;}
	98%{width: 100%;opacity:1;height: 5px;}
	100%{width: 100%;opacity:0;height: 0}
}
@-o-keyframes load{
0%{width:0%;opacity:1;}
	98%{width: 100%;opacity:1;height: 5px;}
	100%{width: 100%;opacity:0;height: 0}
}
@-ms-keyframes load{
0%{width:0%;opacity:1;}
	98%{width: 100%;opacity:1;height: 5px;}
	100%{width: 100%;opacity:0;height: 0}
}
@-moz-keyframes load{
0%{width:0%;opacity:1;}
	98%{width: 100%;opacity:1;height: 5px;}
	100%{width: 100%;opacity:0;height: 0}
}
@-webkit-keyframes load{
0%{width:0%;opacity:1;}
	98%{width: 100%;opacity:1;height: 5px;}
	100%{width: 100%;opacity:0;height: 0}
}
