/*
//~~ Debugger ~~ //

.jv-1{background:blue}
.jv-2{background:red}
.jv-3{background:dodgerblue !important}
.jv-4{background:tomato}
.jv-5{background:lightgreen}
.jv-6{background:yellow}

*/



.stocked .jarvis:nth-child(even){
  margin:-100%;
  position:absolute;
  left:-100%;
  transition:all 1s ease;
}
.stocked .jarvis{opacity:0;}
.stocked .jarvis:nth-child(odd){margin-top:-1000% !important;right:-100% !important;transition:all 0s ease;}
.stocked .jarvis:nth-child(even){margin-left:1000% !important;left:100% !important;transition:all 0s ease;}
*[class*="jv-"]{display:block}


*[class*="jv-"]:nth-child(odd){position:relative;transition:all 1s ease, left 1.2s ease .4s;}
*[class*="jv-"]:nth-child(even){position:relative;transition:all 1s ease 1.2s;}
*[class*="jv-"]:nth-child(2n+1){position:relative;transition:all 1s ease, left 1.2s ease .4s;}
*[class*="jv-"]:nth-child(3n+2){position:relative;transition:all 1s ease 3.2s;}


